body {
  font-family: Verdana, Geneva, sans-serif;
  color: #141414;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.navigation {
  background-color: #141414;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
}

.navigation li {
  display: inline-block;
  padding: 1em;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/travel-guide.jpg) center;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  height: 450px;
  margin: 0;
  overflow: hidden;
  padding: 1em;
  text-align: center;
}

.hero h1 {
  font-size: 2em;
}

.hero h2 {
  font-size: 1.2em;
}

.hero input[type="text"] {
  border-radius: 5px;
  font-size: 1.2em;
  height: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 24em;
}

.hero input[type="submit"] {
  background: white;
  border-radius: 5px;
  height: 2.2em;
  font-size: 1em;
  margin-left: 1em;
}

main {
  box-sizing: border-box;
  padding: 1em;
}

.destination-row {
  width: 100%;
}

.destination-width {
  display: inline-block;
  height: 300px;
  width: 33%;
}

.center-text {
  height: 4em;
  text-align: center;
  width: 100%;
}

#destination-1-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/destination-1.jpeg) center;
  height: 300px;
  width: 100%;
}

#destination-2-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/destination-2.jpeg) center;
  height: 300px;
  width: 100%;
}

#destination-3-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/destination-3.jpeg) center;
  height: 300px;
  width: 100%;
}

#destination-4-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/destination-4.jpeg) center;
  height: 300px;
  width: 100%;
}

#destination-5-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/destination-5.jpeg) center;
  height: 300px;
  width: 100%;
}

#destination-6-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/destination-6.jpeg) center;
  height: 300px;
  width: 100%;
}

footer {
  background-color: #141414;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer p {
  color: white;
  margin: 0px;
  padding: 1em;
}
